*::-webkit-scrollbar {
    display: none
}

* {
    font-family: "Poppins", sans-serif;
}

/* WARNA UTAMA */

.bg-primary {
    background-color: #7024B9 !important;
}

.btn-primary {
    background-color: #7024B9 !important;
    border-color: #7024B9 !important;
}

.border-primary {
    border-color: #7024B9 !important;
}

.text-primary {
    color: #7024B9 !important;
}

/* WARNA DARK */

.bg-dark {
    background-color: #060B1C !important;
}

.btn-dark {
    background-color: #060B1C !important;
    border-color: #060B1C !important;
}

.border-dark {
    border-color: #060B1C !important;
}

.text-dark {
    color: #060B1C !important;
}

/* WARNA ABU */

.bg-secondary {
    background-color: #0E1428 !important;
}

.btn-secondary {
    background-color: #0E1428 !important;
    border-color: #0E1428 !important;
}

.border-secondary {
    border-color: #1A2033 !important;
}

.text-secondary {
    color: #63687a !important;
}

/* WARNA Kuning */

.bg-warning {
    background-color: #1F1A19 !important;
}

.btn-warning {
    background-color: #1F1A19 !important;
    border-color: #1F1A19 !important;
}

.border-warning {
    border-color: #1F1A19 !important;
}

.text-warning {
    color: #1F1A19 !important;
}

.transisi-gambar {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.transisi-gambar.active {
    opacity: 1;
    pointer-events: all;
    z-index: 900;
}

.placeholder-secondary::placeholder {
    color: #63687a;
}

.gradient-primary {
    background: linear-gradient(to bottom,
            rgba(112, 36, 185, 0),
            rgba(112, 36, 185, 0),
            rgba(112, 36, 185, 0.1),
            rgba(112, 36, 185, 0.2));
}

.form-control:focus {
    box-shadow: none;
}

.card {
    overflow: hidden;
    position: relative;
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.pointer {
    cursor: pointer;
}

#wadahIframe {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom:56.25%;
    border-radius: 10px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.h-md-100 {
    height: 350px
}

.w-text-card {
    width: 100%;
}

.p-hp-0 {
    padding: 0;
}

.px-hp-3 {
    padding: 0px 13px;
}

.navbar-toggler:active {
    border: none !important
}

.text-server{
    font-size: 14px;
}

@media (min-width: 768px) {

    .w-md-100 {
        width: 100%;
    }

    .h-md-100 {
        height: 100%
    }

    .w-text-card {
        width: 75%;
    }

    .p-hp-0 {
        padding: 0px 10px;
    }

    .px-hp-3 {
        padding: 0px;
    }

    .text-server{
        font-size: 17px;
    }
}