*::-webkit-scrollbar {
    display: none
}

* {
    font-family: "Poppins", sans-serif;
}

.card {
    overflow: hidden;
    position: relative;
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.pointer {
    cursor: pointer;
}

#wadahIframe {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    border-radius: 10px;
}

iframe {
    -webkit-transform: scale(1.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    iframe {
        -webkit-transform: scale(1.03);
    }
}